In [47]:
import pandas as pd 
%matplotlib inline

In [48]:
df=pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [49]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [50]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [51]:
df.duplicated().sum()

np.int64(0)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [53]:
cat=df.select_dtypes(include="object")
num=df.select_dtypes(exclude="object")

In [54]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [62]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pandas as pd

One = OneHotEncoder(sparse_output=False)
Label = LabelEncoder()

for i in cat.columns:
    if i == 'PaymentMethod' and "InternetService" and "Contract":
        encoded = One.fit_transform(df[[i]])
        encoded_df = pd.DataFrame(
            encoded,
            columns=One.get_feature_names_out([i])
        )
        df = df.drop(i, axis=1)
        df = pd.concat([df, encoded_df], axis=1)
    else:
        df[i] = Label.fit_transform(df[i])

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customerID                               7043 non-null   int64
 1   gender                                   7043 non-null   int64
 2   SeniorCitizen                            7043 non-null   int64
 3   Partner                                  7043 non-null   int64
 4   Dependents                               7043 non-null   int64
 5   tenure                                   7043 non-null   int64
 6   PhoneService                             7043 non-null   int64
 7   MultipleLines                            7043 non-null   int64
 8   InternetService                          7043 non-null   int64
 9   OnlineSecurity                           7043 non-null   int64
 10  OnlineBackup                             7043 non-null   int64
 11  DeviceProtection                         7043 non-null   int64
 12  TechSupport                              7043 non-null   int64
 13  StreamingTV                              7043 non-null   int64
 14  StreamingMovies                          7043 non-null   int64
 15  Contract                                 7043 non-null   int64
 16  PaperlessBilling                         7043 non-null   int64
 17  MonthlyCharges                           7043 non-null   float64
 18  TotalCharges                             7043 non-null   int64
 19  Churn                                    7043 non-null   int64
 20  PaymentMethod_Bank transfer (automatic)  7043 non-null   float64
 21  PaymentMethod_Credit card (automatic)    7043 non-null   float64
 22  PaymentMethod_Electronic check           7043 non-null   float64
 23  PaymentMethod_Mailed check               7043 non-null   float64
dtypes: float64(5), int64(19)
memory usage: 1.3 MB

In [64]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,5375,0,0,1,0,1,0,1,0,0,...,0,0,1,29.85,2505,0,0.0,0.0,1.0,0.0
1,3962,1,0,0,0,34,1,0,0,2,...,0,1,0,56.95,1466,0,0.0,0.0,0.0,1.0
2,2564,1,0,0,0,2,1,0,0,2,...,0,0,1,53.85,157,1,0.0,0.0,0.0,1.0
3,5535,1,0,0,0,45,0,1,0,2,...,0,1,0,42.30,1400,0,1.0,0.0,0.0,0.0
4,6511,0,0,0,0,2,1,0,1,0,...,0,0,1,70.70,925,1,0.0,0.0,1.0,0.0

In [65]:
df.to_csv("PreprocessedChurnData.csv")